body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: black !important;
  text-decoration: none;
}

.container {
  margin: 2em 3em;
  padding: 2em;
}

.card-container {
  text-align: center;
  font-size: 24px !important;
  margin: 5px 2em;
}

.card-container:hover {
  background-color: lightblue;
}

.card-title {
  margin: 1em !important;
  width: 100%;
}

.card-text {
  margin: 1em !important;
  width: 100%;
}

.card-icons {
  font-size: 24;
  padding: 0em;
}

.card-lawer {
  text-align: left;
}

.search-box {
  padding: 4em;
}

.search-box input {
  padding: 1em;
  background-color: white;
}
